PORT=8000
DATABASE_URL=postgresql://user:password@localhost:5432/profibaza
JWT_KEY=your-secret-jwt-key

HOST_URL=http://localhost:8080

PAYME_SUBSCRIBE_API_URL=https://checkout.test.paycom.uz/api
PAYME_SUBSCRIBE_API_ID=your-payme-api-id
PAYME_SUBSCRIBE_API_KEY=your-payme-api-key

SMS_SERVICE_URL=https://notify.eskiz.uz/api
SMS_SERVICE_LOGIN=your-sms-login
SMS_SERVICE_PASSWORD=your-sms-password
